.footer {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
    border-top-style: solid;
    border-top-color: #222;
    border-top: 1px;
    padding: 1%;
    background-color: rgb(255, 255, 255);
    min-height: 10vh;
    margin-top: 40rem;
    text-decoration: none;
}

.footer-right-li {
    list-style: none;
    color: #222;
    text-decoration: none;
}

.left-social {
    text-decoration: none;
    color: #222;
    margin-right: 0.03rem;
}

.social-left-img {
    margin-right: 2rem;
    padding-top: 0.1rem;
}

.right-social {
    text-decoration: none;
    color: #222;
}

.footer-left {
    text-align: left;
    justify-content: space-around;
    margin-right: auto;
    text-decoration: none;
}

.footer-center {
    text-align: center;
    justify-content: space-around;
    margin-right: auto;
    margin-left: auto;
    list-style: none;
    text-decoration: none;
    color: #222;
}

.footer-right {
    text-align: right;
    justify-content: space-around;
    margin-left: auto;
}