@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Andika New Basic', sans-serif;
    background-color: #0E273C;
}

::selection {
    background-color: #999;
    color: #0E273C;
}

::-webkit-scrollbar {
    width: 10px;
}

 ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

 ::-webkit-scrollbar-thumb {
    background: #777;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #999;
}