@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}

.f_f-body-homelink{
    display: flex;
    text-align: center;
    width: 100%;
}