@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Alfa Slab One', sans-serif;
}

.f_f-body-homelink {
    display: flex;
    text-align: center;
    width: 100%;
    color: #222;
}

.linkhome {
    text-decoration: none;
    list-style: none;
    color: #222;
    display: below;
    width: 100%;
}