@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Alfa Slab One', sans-serif;
}

nav.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 12vh;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: #222;
    min-width: 2rem;
}

.header-logo {
    color: #222;
    text-transform: uppercase;
    letter-spacing: 0.2;
    font-size: 2.3rem;
    background-color: rgb(255, 255, 255);
}

.nav-links {
    display: flex;
    justify-content: space-around;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: #222;
    text-decoration: none;
    font-size: 1.5rem;
}

.nl1 {
    padding: 1rem;
    font-size: 1.5rem;
}

.nl2 {
    padding: 1rem;
    font-size: 1.5rem;
}

.nl3 {
    padding: 1rem;
    font-size: 1.5rem;
}

.nav-links :hover {
    color: #333;
    text-decoration: none;
    font-size: 1.5rem;
    text-decoration: underline;
}

div.logo {
    text-align: left;
    color: #222;
    letter-spacing: 0.3rem;
    display: flex;
    font-size: 2.5rem;
    margin: 1.4rem;
    background-color: rgb(255, 255, 255);
}

nav.header-container {
    text-align: right;
}