nav.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 9vh;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: #222;
    min-width: 2rem;
}

.header-logo {
    color: #222;
    text-transform: uppercase;
    letter-spacing: 0.2;
    font-size: 2.3rem;
    background-color: rgb(255, 255, 255);
}

.nav-links ul {
    display: flex;
    justify-content: space-around;
}

.nav-links li {
    list-style: none;
    padding: 1.1rem;
}

.nav-links a {
    color: #222;
    text-decoration: none;
    font-size: 1.5rem;
}

.nav-links ul :hover {
    color: #333;
    text-decoration: none;
    font-size: 1.5rem;
    text-decoration: underline;
    font-weight: bold;
}

div.logo {
    text-align: left;
    color: #222;
    letter-spacing: 0.3rem;
    display: flex;
    font-size: 2.5rem;
    margin: 1.4rem;
    background-color: rgb(255, 255, 255);
}

nav.header-container {
    text-align: right;
}