* {
    color: #323bb8;
    background: #d8ffff;
}

.ca {
    font-size: 3rem;
    border-radius: 10px;
    margin-left: 10vw;
    margin-top: 30vh;
}

.cb {
    font-size: 2rem;
    border-radius: 10px;
    margin-right: 10vw;
    margin-left: 10vw;
}