@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}

.impression-body{
	background-color: rgb(50, 50, 50);
	display: flex;
}

.middle-text{
	text-align: center;
	letter-spacing: 3px;
	display: flex;
	font-weight: bold;
	font-size: 260%;
	margin: 18px;
	color: rgb(214, 214, 214);
}