@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}

.impression-body{
	background-color: rgb(255,255,255);
	display: flex;
}

.middle-text{
	text-align: center;
	letter-spacing: 3px;
	display: flex;
	font-weight: bold;
	font-size: 2em;
	margin: 18px;
	color: #333;
	margin-top: 7.5em;
	margin-left: 15.3em;
	justify-content: space-around;
	}
