* {
    font-family: 'Courier New', Courier, monospace;
}

html,
body,
#root {
    height: 97% !important;
    max-height: 100vh !important;
}

#bottom {
    min-width: 100%;
    display: inline;
}

#bottom input {
    display: inline;
    margin-left: 2px;
    margin-right: 20px;
    width: calc(80% - 20px);
}

#bottom span {
    display: inline;
}

.cmd-start {
    color: #0099ff;
    font-weight: bolder;
}