@media only screen and (min-width: 600px) {
    .a h2 {
        display: flex;
        align-items: left;
        text-align: left;
        font-size: 2.5rem;
        margin-left: 1rem;
        color: #000000;
    }
    .a h3 {
        display: flex;
        align-items: left;
        text-align: left;
        font-size: 1.5rem;
        margin-left: 1rem;
        color: #000000;
    }
    .bs {
        display: flex;
    }
    .b {
        margin-left: 10vw;
        margin-top: 8vh;
        font-weight: bold;
        font-size: 1.7rem;
        flex: 0 0 65%;
    }
    .b2 {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-top: 8vh;
        font-weight: bold;
        font-size: 1.7rem;
        flex: 1;
    }
    .cs {
        display: flex;
    }
    .c {
        flex: 0 0 65%;
        margin-left: 10vw;
        margin-top: 1vh;
        background-color: #d4d4d4;
        border-radius: 10px;
        margin-right: 5vh;
        padding-bottom: 4vh;
        max-width: 40vw;
    }
    .c h1 {
        font-size: 2.5rem;
        color: #000000;
        background-color: #d4d4d4;
        border-radius: 10px;
        padding-left: 11px;
        max-width: 40vw;
    }
    .c p {
        font-size: 1.2rem;
        background-color: #d4d4d4;
        padding-left: 11px;
        max-width: 40vw;
    }
    .c a {
        font-size: 1.5rem;
        background-color: #d4d4d4;
        color: #000000;
        margin-left: 11px;
        margin-top: 6vh;
        padding: 5px;
        border-radius: 6px;
        max-width: 40vw;
    }
    .c a:hover {
        background-color: #e7e7e7;
        color: #1d1d1d;
        border-radius: 6px;
        text-decoration: none;
        max-width: 40vw;
    }
    .c2 {
        flex: 1;
        margin-top: 1vh;
        background-color: #d4d4d4;
        border-radius: 10px;
        padding-bottom: 4vh;
        max-width: 40vw;
    }
    .c2 h1 {
        font-size: 2.5rem;
        color: #000000;
        background-color: #d4d4d4;
        border-radius: 10px;
        padding-left: 11px;
        max-width: 40vw;
    }
    .c2 p {
        font-size: 1.2rem;
        background-color: #d4d4d4;
        padding-left: 11px;
        max-width: 40vw;
    }
    .c2 a {
        font-size: 1.5rem;
        background-color: #d4d4d4;
        color: #000000;
        margin-left: 11px;
        margin-top: 6vh;
        padding: 5px;
        border-radius: 6px;
        max-width: 40vw;
    }
    .c2 a:hover {
        background-color: #e7e7e7;
        color: #1d1d1d;
        border-radius: 6px;
        text-decoration: none;
        max-width: 40vw;
    }
    .d {
        margin-left: 10vw;
        margin-top: 10vh;
        background-color: #d4d4d4;
        border-radius: 10px;
        margin-right: 20vh;
        padding-bottom: 4vh;
        max-width: 40vw;
    }
    .d h1 {
        font-size: 2.5rem;
        color: #000000;
        background-color: #d4d4d4;
        border-radius: 10px;
        padding-left: 11px;
        max-width: 40vw;
    }
    .d p {
        font-size: 1.2rem;
        background-color: #d4d4d4;
        padding-left: 11px;
        max-width: 40vw;
    }
    .d a {
        font-size: 1.5rem;
        background-color: #d4d4d4;
        color: #000000;
        margin-left: 11px;
        margin-top: 6vh;
        padding: 5px;
        border-radius: 6px;
        max-width: 40vw;
    }
    .d a:hover {
        background-color: #e7e7e7;
        color: #1d1d1d;
        border-radius: 6px;
        text-decoration: none;
        max-width: 40vw;
    }
}