.wrapper {
    display: inline-block;
}

.button {
    padding: 5px;
    margin: 5px 0px;
    background-color: rgba(0, 0, 0, 0.068);
    backdrop-filter: blur(10px);
    width: 130px;
    border-radius: 9999px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-weight: bolder;
    font-size: 1.5rem;
    color: #646cff;
    text-decoration: inherit;
    align-content: center;
}

.button:hover {
    text-decoration: underline 2px dotted;
}

picture {
    padding: 10px;
    margin: none;
}

@media (prefers-color-scheme: dark) {
    .button {
        background-color: rgba(255, 255, 255, 0.068);
        border: 1px solid rgba(255, 255, 255, 0.2);
        color: #646cff;
    }
}
