*{
    color: #999;
}

.title{
    font-size: 1rem;
}

.info{
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
}

.info-p{
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
}