.avatar {
    border: 2px solid;
    border-radius: 50%;
    padding: 7px;
    width: 256px;
    height: 256px;
}
.separator h2 {
    width: 100%;
    font-size: 2.5rem;
    margin-top: 10vh;

}

header h2 {
    display: flex;
}

h2 a {
    font-weight: bolder;
}