@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");

/*
    Wrappers
*/

.pageWrapper {
    display: grid;

    height: fit-content;

    grid-template-rows: 95vh max(95vh, 500px) 100%;
}

/*
    Main sections
*/

.landing {
    grid-row: 1;
    grid-column: 2;

    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

    height: 100%;
}

/*
    Details
*/

.logo {
    padding: 5vw;
    display: flexbox;
    justify-content: center;
    margin: auto;
}

.quickInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 5vw;
    grid-column: 2;
}

.emphasis {
    font:
        1.5rem "Nunito",
        sans-serif;
    font-size: 2.3rem;
    font-weight: 800;
}

.titleText {
    margin: 0px;
}

.spacer {
    content: "";
    height: 3rem;
}

.secondary {
    grid-column: 2;
    padding-top: 5vh;
    background-color: #d1ccb6;
    border-radius: 5vh;
    color: #202020;
    margin-bottom: 5vh;
    max-width: fit-content;
}

.panel {
    font:
        1.7rem Nunito,
        sans-serif;
    padding: 0px 5%;
    border-radius: 15px;
    text-align: justify;
}
