* {
    color: #000;
}

.title {
    margin-bottom: 15vh;
    display: flex;
    align-items: left;
    font-size: 1.5rem;
}

.hiw {
    margin-left: 5vw;
    font-size: 1.5rem;
}

.hiw-p {
    margin-left: 5vw;
    max-width: 90vw;
    margin-bottom: 20vh;
}

li {
    list-style: none;
}

.pec-div {
    margin-left: 4vw;
    margin-bottom: 10vh;
}

.pe-h2 {
    margin-bottom: 2vh;
}

.pc-h2 {
    margin-bottom: 2vh;
    margin-top: 5vh;
}

.pe {
    margin-left: 4vw;
    font-size: 1.25rem;
}

.pe h2 {
    font-size: 1.9rem;
    margin-bottom: 4vh;
    margin-top: 10vh;
}

.pe h5 {
    font-size: 1.7rem
}

.pe div {
    margin-bottom: 4vh;
}

.pc {
    margin-left: 4vw;
}

.pc h2 {
    font-size: 1.9rem;
    margin-bottom: 4vh;
    margin-top: 10vh;
}

.pc h5 {
    font-size: 1.7rem;
}

.pc div {
    margin-bottom: 4vh;
}

.placeholder ::placeholder {
    color: rgb(235, 34, 34);
}