* {
    color: #000;
    max-width: 90vw;
}

.title {
    margin-bottom: 15vh;
    display: flex;
    align-items: left;
    font-size: 1.5rem;
}

.hiw {
    margin-left: 5vw;
    font-size: 1.5rem;
}

.hiw-p {
    margin-left: 5vw;
    max-width: 90vw;
    margin-bottom: 13vh;
    font-size: 1.3rem;
    padding-bottom: 4vh;
    border-bottom: 1px solid #000;
}

.pec-div {
    margin-left: 4vw;
    margin-bottom: 10vh;
    font-size: 1.3rem;
}

li {
    list-style: none;
}

.pe-h2 {
    margin-bottom: 2vh;
}

.pc-h2 {
    margin-bottom: 2vh;
    margin-top: 5vh;
}

.pe {
    margin-left: 4vw;
    font-size: 1.25rem;
    border-top: 1px solid #000;
    padding-top: none;
}

.pe h2 {
    font-size: 1.9rem;
    margin-bottom: 4vh;
    margin-top: 10vh;
}

.pe h5 {
    font-size: 1.7rem;
    margin-top: 6vh;
}

.pe div {
    padding-bottom: 2vh;
}

.pc {
    margin-left: 4vw;
}

.pc h2 {
    font-size: 1.9rem;
    margin-bottom: 4vh;
    margin-top: 10vh;
}

.pc h5 {
    font-size: 1.7rem;
    margin-top: 6vh;
}

.pc div {
    margin-bottom: 4vh;
}